# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Virtual environments
env/
venv/
.venv/
pip-wheel-metadata/
*.egg-info/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# PyInstaller
#  Usually contains a lot of files, and often stores temp files in build/ too.
*.spec

# Environments / tools
.venv/
.env
.env.*
venv/
env.bak/
venv.bak/

# Django stuff:
**/migrations/**
*.log

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/
build/doctrees
build/html

# PyBuilder
target/

# Coverage reports
htmlcov/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/

# MyPy
.mypy_cache/
.dmypy.json
dmypy.json

# Testing / logs
pytest_cache/
*.log

# OS-specific or editor-specific files
.DS_Store
Thumbs.db
*.swp
*.swo
.idea/
.vscode/
*.iml
